{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
dashboard
{% endblock %}

{% block content %}

    <div class="wat">
<table class="table table-bordered" style="margin-bottom: 100%;">

        <tr class="book">
            <th>S/N</th>
            <th>Date</th>
            <th>Post Title</th>
            <th>Post Image</th>
            <th>Posted By</th>
            <th colspan="3">Action</th>
        </tr>

        {% if view %}
        {% for v in view %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ v.big_title }}</td>
            <td>{{ v.big_content|truncatewords:30 }}</td>
            <td>{{ v.date }}</td>
            <td>{{ v.user.username }}</td>
            <td><img src="{{v.blog_img}}" width="50" height="50" alt=""></td>
            <td>
                <a href ="">Edit</a>
            </td>
             <td>
                <a href ="">View</a>
            </td>
             <td>
                <a href ="">Delete</a>
            </td>
        </tr>

    {% endfor %}
    {% endif %}
</table>
    </div>
{% endblock %}